/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--page-font), sans-serif;
  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px,
          transparent 2px,
          transparent 4px), repeating-linear-gradient(
          to top,
          #d3d3d3,
          #d3d3d3 2px,
          transparent 2px,
          transparent 4px),linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-inline-size: 320px;
  max-inline-size: 696px;
  padding: clamp(7.5rem, 7.324rem + 0.751dvi, 8rem);
  margin: 100px 0 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  gap: 20px;
}


.header__title {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.502dvi, 4.063rem);
  line-height: 49px;
  text-align: center;
  justify-self: center;
}

.header__subtitle {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.845dvi, 1.438rem);
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.content {
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.content__title {
  font-family: var(--page-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 1px;
  padding: 4px 10px 6px;

}

.content__section {
  border: 2px solid #000;
}

.content__section:not(:first-child) {
  margin-top: 50px;
}

.image-block {
  position: relative;
}

.content__image {
  width: 100%;
  filter: none;
  object-fit: cover;
  object-position: center;
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-hue-rotate {
  filter: hue-rotate(180deg) opacity(0.8);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-opacity {
  filter: opacity(90%);
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--special-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-shadow:
          -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
          1px 1px 0 #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px #fff) or
    (-webkit-text-stroke: 1px #fff)
) {

  .image-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.content__text {
  font-family: var(--page-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 25px 25px 0;
}
.content__text:nth-child(even) {
  margin-top: 27px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.button__text {
  font-family: var(--special-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid #000;
  padding: 8px 35px;
  position: relative;
}

.button__section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin: 25px 25px;
}

.save-button {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid #000000;
  align-items: center;
  gap: 8px;
  align-self: center;
  margin: 52px 0 100px;
  position: relative;
}

.icon-floppy {
  z-index: 1;
  position: relative;
  width: 28px;
  height: 28px;
  color: #fff;
  mix-blend-mode: difference;
}

dialog .icon-floppy {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  align-self: center;
}

.button {
  transition: box-shadow 0.3s linear;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.heart:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.heart:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  fill: red;
  animation: sparks-visible 0.3s ease-in 0.3s;
}

.modal-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-inline-size: 341px;
  border: 2px solid #000;
  padding-inline: 30px;
  padding-block: 28px;
}

.modal-dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.modal-dialog__message {
  display: flex;
  gap: 20px;
  font-family: var(--special-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.modal-dialog-ok-button {
  background-color: transparent;
  padding: 8px;
  position: relative;
}

@media (width>=696px) {
  .page {
    max-inline-size: 696px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}